#navbar {
  display: flex;
  align-items: center;
  height: 80px;
  overflow: hidden;
  padding: 10px;
}
#navbar img {
  height: 75px;
  width: 75px;
  float: left;
}
#navbar a {
  width: 100px;
  height: 55px;
  align-content: center;
  justify-self: center;
  text-decoration: none;
  color: white;
  font-size: larger;
}
#navbar a img {
  margin-left: 15px;
}
#navbar a h1 {
  margin-left: 0px;
  font-size: default;
}
#navbar #navLinks {
  margin-left: auto;
  text-align: center;
}
#navbar #navLinks #productPage {
  border-radius: 30px;
  padding: 10px;
  background-color: #2dabff;
}
#navbar #navLinks a {
  margin: 15px;
  text-align: center;
  font-size: 2vw;
  position: relative;
  color: white;
  text-decoration: none;
}
@media (max-width: 630px) {
  #navbar #navLinks a img {
    margin-left: 5px;
  }
}
#navbar #navLinks a:hover {
  font-size: 2.5vw;
  font-family: "dots";
}
#navbar #navLinks .links:hover {
  color: #2dabff;
}
#navbar #navLinks a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2dabff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
#navbar #navLinks a:hover::before {
  transform: scaleX(1);
}

@font-face {
  font-family: "joyza";
  src: url(../fonts/lexend.ttf);
}
@font-face {
  font-family: "dots";
  src: url(../fonts/jdot.ttf);
}
body {
  background-image: url(../images/Animated\ Shape\ \(3\).svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "joyza";
  color: white;
  margin: 0px;
}

h1 {
  font-weight: normal;
  font-size: 60px;
  margin-left: 100px;
}

.dotFont {
  font-family: "dots";
}

.boldText {
  font-weight: bolder;
}

.blueText {
  color: #2dabff;
}

.mainImg {
  float: right;
  width: 45%;
  height: 375px;
  margin-top: 10%;
  margin-right: 10%;
}

.mainText {
  font-size: 3.5vw;
}

h2 {
  font-weight: normal;
  font-size: 60px;
  margin-left: 12%;
  margin-block-start: 0em;
  margin-block-end: 0em;
  float: left;
}

img {
  pointer-events: none;
}

.imagine {
  margin-top: 15%;
}

.create {
  margin-top: 1.5%;
}

.share {
  margin-bottom: 1.5%;
}

.sliderButton {
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
  transition: color 0.5s;
}

#formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
}
#formContainer form {
  text-align: center;
  padding: 1%;
  border: 5px solid black;
  border-radius: 5px;
  max-width: 400px;
  background-image: url(../images/Circuit\ Board.svg);
  background-position: center;
  background-size: cover;
  width: 600px;
  height: 100%;
}
#formContainer .center {
  align-self: center;
}

.floatingText {
  display: flex;
  float: left;
}

.sliderButton:hover {
  color: #2dabff;
}

.custom_app:hover {
  background-color: darkred;
}

@media screen and (max-width: 1070px) {
  #heading {
    font-size: 20px;
  }
}
@media screen and (max-width: 1200px) {
  #subHeading {
    font-size: 40px;
  }
  .mainImg {
    display: none;
  }
  .otherImg {
    display: none;
  }
  h2 {
    display: flex;
    justify-content: center;
    font-weight: normal;
    font-size: 80px;
    width: 100%;
    margin: 0%;
  }
  .imagine {
    margin-top: 1.5%;
  }
  .create {
    margin-top: 1.5%;
  }
  .share {
    margin-bottom: 15px;
  }
  #sliderGrid {
    grid-template-rows: [] 2% [] 400px [] 20px [];
    -moz-column-gap: 1%;
         column-gap: 1%;
    width: 80%;
  }
  #sliderGrid #picture1 {
    display: none;
  }
  #sliderGrid #picture3 {
    display: none;
  }
}
#gridContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#gridContainer #postContent {
  z-index: 3;
  width: 16%;
}
#gridContainer #nextContent {
  z-index: 3;
  width: 16%;
}
#gridContainer #sliderGrid {
  display: grid;
  grid-template-rows: [] 20% [] 60% [] 170px [];
  width: 100%;
  -moz-column-gap: 55px;
       column-gap: 55px;
}
#gridContainer #sliderGrid #sliderLeft {
  font-size: 50px;
  grid-column: 1/2;
  grid-row: 2/3;
  margin-block-start: 0em;
  margin-block-end: 0em;
  display: flex;
  align-self: center;
  z-index: 10;
}
#gridContainer #sliderGrid #sliderRight {
  font-size: 50px;
  grid-column: 5/6;
  grid-row: 2/3;
  margin-block-start: 0em;
  margin-block-end: 0em;
  display: flex;
  align-self: center;
  z-index: 10;
}
#gridContainer #sliderGrid #picture0 {
  grid-column: 2/3;
  grid-row: 2/3;
  width: 100%;
  height: 100%;
}
#gridContainer #sliderGrid #picture1 {
  grid-column: 2/3;
  grid-row: 2/3;
  width: 100%;
  height: 100%;
}
#gridContainer #sliderGrid #picture2 {
  grid-column: 3/4;
  grid-row: 2/3;
  width: 100%;
  height: 100%;
}
#gridContainer #sliderGrid #picture3 {
  grid-column: 4/5;
  grid-row: 2/3;
  width: 100%;
  height: 100%;
}
#gridContainer #sliderGrid #picture4 {
  grid-column: 4/5;
  grid-row: 2/3;
  width: 100%;
  height: 100%;
}
#gridContainer #sliderGrid #picture5 {
  grid-column: 3/4;
  grid-row: 2/3;
  width: 100%;
  height: 100%;
}

.pictures {
  position: relative;
  border-radius: 0px;
  width: 300px;
  height: 400px;
}

@media screen and (max-width: 1200px) {
  #subHeading {
    font-size: 40px;
  }
  .mainImg {
    display: none;
  }
  .otherImg {
    display: none;
  }
  h2 {
    display: flex;
    justify-content: center;
    font-weight: normal;
    font-size: 80px;
    width: 100%;
    margin: 0%;
  }
  .imagine {
    margin-top: 1.5%;
  }
  .create {
    margin-top: 1.5%;
  }
  .share {
    margin-bottom: 15px;
  }
  #gridContainer #sliderGrid {
    grid-template-rows: [] 2% [] 400px [] 20px [];
    -moz-column-gap: 1%;
         column-gap: 1%;
    width: 80%;
  }
  #gridContainer #sliderGrid #picture1 {
    display: none;
  }
  #gridContainer #sliderGrid #picture3 {
    display: none;
  }
}
.questions {
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 75vw;
  background-image: url(../images/Circuit\ Board.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 30vw;
  border-radius: 50px;
  padding: 50px;
  position: relative;
}
.questions h1 {
  text-align: left;
  color: #2dabff;
  margin-left: 0;
}
.questions #heading {
  text-align: left;
  color: #2dabff;
  font-size: 4vw;
}
.questions p {
  font-size: 2vw;
}
.questions button {
  background-color: grey;
  opacity: 0.85;
  border: none;
  width: 18vw;
  height: 10vw;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3vw;
  cursor: pointer;
  border-radius: 35px;
}
.questions button:hover {
  background-color: rgb(92, 91, 91);
}

.contact {
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 80vw;
  background-image: url(../images/Circuit\ Board.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 22vw;
  border-radius: 50px;
  padding: 20px;
  position: relative;
}
.contact h1 {
  text-align: left;
  color: #2dabff;
  margin-left: 5%;
}
.contact #heading {
  text-align: left;
  color: #2dabff;
  margin-left: 5%;
  font-size: 6vw;
}
.contact p {
  font-size: 4vw;
  margin-left: 5%;
  margin-top: 20px;
  margin-bottom: 0;
}

.design, .development {
  margin-right: auto;
  margin-left: auto;
  margin-top: 3vw;
  margin-bottom: 3vw;
  width: 70vw;
  background-image: url(../images/Circuit\ Board.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 30vw;
  border-radius: 50px;
  padding: 10vw;
  position: relative;
}
.design #heading, .development #heading {
  font-size: 6vw;
  color: #2dabff;
}
.design p, .development p {
  margin-top: 0;
  margin-bottom: 15px;
  text-align: left;
  font-size: 3vw;
}
.design img, .development img {
  float: right;
  translate: 0 -100px;
}
.design #buttons, .development #buttons {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  position: absolute;
  width: 45vw;
  height: 3vw;
  bottom: 0;
  top: 70%;
  right: 0;
  left: 0;
  margin: auto;
  padding-bottom: 4vw;
}
.design #buttons .open_jos, .development #buttons .open_jos {
  background-color: #2dabff;
  opacity: 0.85;
  border: none;
  width: 15vw;
  height: 8vw;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vw;
  cursor: pointer;
  border-radius: 25px;
}
.design #buttons .open_jos:hover, .development #buttons .open_jos:hover {
  background-color: #00548b;
}
.design #buttons .custom_app, .development #buttons .custom_app {
  background-color: red;
  opacity: 0.85;
  border: none;
  width: 15vw;
  height: 8vw;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vw;
  cursor: pointer;
  border-radius: 25px;
}
.design #buttons .custom_app:hover, .development #buttons .custom_app:hover {
  background-color: darkred;
}

.footer {
  margin-top: 10px;
  background-color: none;
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.footer a {
  margin: 15px;
  text-align: center;
  font-size: 3vw;
  position: relative;
  color: white;
  text-decoration: none;
}
.footer a:hover {
  color: #2dabff;
  font-size: 3.5vw;
  font-family: "dots";
}
.footer a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2dabff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.footer a:hover::before {
  transform: scaleX(1);
}

#about_us {
  margin: auto;
  width: 70vw;
  background-image: url(../images/Circuit\ Board.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 30vw;
  border-radius: 50px;
  padding: 10vw;
  position: relative;
}
#about_us .dotFont {
  margin-bottom: 15px;
}
#about_us h1 {
  color: #2dabff;
  text-align: left;
  margin-left: 0;
}
#about_us #heading {
  font-size: 6vw;
  color: #2dabff;
}
#about_us p {
  margin-top: 0;
  margin-bottom: 15px;
  text-align: left;
  font-size: 4vw;
}
#about_us img {
  float: right;
  translate: 0 -100px;
}

#development {
  margin: auto;
  width: 70vw;
  background-image: url(../images/Circuit\ Board.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 30vw;
  border-radius: 50px;
  padding: 10vw;
  position: relative;
}
#development h1 {
  margin-left: 0;
  color: #2dabff;
}
#development .dotFont {
  margin-bottom: 15px;
}
#development #heading {
  font-size: 6vw;
  color: #2dabff;
}
#development p {
  margin-top: 0;
  margin-bottom: 15px;
  text-align: left;
  font-size: 4vw;
}
#development img {
  float: right;
  translate: 0 -100px;
}
#development #buttons_two {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  position: absolute;
  width: 45%;
  height: 80px;
  bottom: 0;
  top: 70%;
  right: 0;
  left: 0;
  margin: auto;
  padding-top: 14vw;
  padding-bottom: 4vw;
}
#development #buttons_two .trailer {
  background-color: #2dabff;
  border: none;
  color: white;
  width: 15vw;
  height: 8vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 4vw;
  cursor: pointer;
  border-radius: 25px;
}
#development #buttons_two .trailer:hover {
  background-color: #00548b;
}
#development #buttons_two .community {
  background-color: rgb(57, 57, 57);
  border: none;
  color: white;
  width: 15vw;
  height: 8vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vw;
  cursor: pointer;
  border-radius: 25px;
}
#development #buttons_two .community:hover {
  background-color: rgb(37, 37, 37);
}/*# sourceMappingURL=styles.css.map */