@use '../partials/navBar';

.scroll{
    display: grid;
    grid-template-areas: 'slide1 slide2 slide3';
    .item1{
        grid-area: slide1;
        width: auto;
        background-color: red;
    }
    .item2{
        grid-area: slide2;
        width: auto;
        background-color: red;
    }
    .item3{
        grid-area: slide3;
        width: auto;
        background-color: red;
    }
}