@use '../partials/navBar';
$blue : #2dabff;
$background : #161616;
@font-face {
    font-family: "joyza";
    src: url(../fonts/lexend.ttf);
    }
@font-face {
    font-family: "dots";
    src: url(../fonts/jdot.ttf);
    }
body{
    background-color: $background;
    font-family: 'joyza';
    color: white;
}
h1{
    font-weight: normal;
    font-size: 60px;
    margin-left: 100px;
}
#line{
    width: 100%;
    height: 2px;
    background-color: grey;
}
.dotFont{
    font-family: 'dots';
}
.boldText{
    font-weight: bolder;
}
.blueText{
    color: $blue;
}
.mainImg{
    float: right;
    width: 635px;
    height: 375px;
    margin-top: 70px;
    margin-right: 120px;
    margin-bottom: 200px;
}
h2{
    font-weight: normal;
    font-size: 60px;
    margin-left: 170px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.annoying{
    margin-top: 15px;
}
.annoying2{
    margin-top: 150px;
}
.alsoAnnoying{
    margin-bottom: 200px;
}
#slider{
    display: grid;
    width: 100%;
    grid-template-areas: 'back slide1 slide1 slide1 slide2 slide2 slide2 slide3 slide3 slide3 next';
    div{
        img{
            width: 100%;
            height: 300px;
        }
    }
    button{
        width: 100%;
        height: 300px;
    }
    #back{
        grid-area: back;
    }
    #next{
        grid-area: next;
    }
    #item1{
        grid-area: slide1;
    }
    #item2{
        grid-area: slide2;
    }
    #item3{
        grid-area: slide3;
    }
    #item4{
        visibility: hidden;
    }
}
